* {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #24a486;
    background-size: 400% 400%;
  }
  
  
  a {
    text-decoration: none;
  }
  
  p {
    margin: 0;
  }
  
  .search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  
  .search-form input {
    width: 20%;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 10px;
    border: 0.5 solid grey;
    padding: 8px 10px;    
  }
  
  .search-form button {  
    display: flex;
    justify-content: center;
    align-items: center;  
    border: 0.5 solid grey;
    background-color: #fff;  
    border-radius: 5px;
    padding: 8px 20px;  
    cursor: pointer;
  }
  
  .search-form button:hover {
    background-color: rgb(224, 224, 224);
    transition: all 0.3s;
  }
  
  .load-more.is-hidden {
    display: none;
  }
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
  
  .gallery,
  .info {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery {
    margin-left: -20px;
    padding-top: 30px;
    justify-content: center;  
  }
  
  .gallery__link {
    margin-top: 20px;
    margin-left: 20px;
    min-width: 320px;
    flex-basis: calc((100% - 80px) / 4);
    border: none;
    overflow: hidden;
    transition: all 0.3s;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .gallery__link:hover,
  .gallery__link:focus {
    transform: scale(1.05);
  }
  
  .gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
  }
  
  .gallery-item__img {
    display: block;
    height: 30vh;
    object-fit: cover;  
  }
  
  .info {
    padding: 10px;
    justify-content: space-around;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #24a486;
    font-size: smaller;
  }
  
  .info-item:not(:first-child) {
    margin-left: 5px;
  }